.bar {
    width: 15px;
    height: 150px;
    margin-top: 100px;
    margin-left: 0;
    transition: .2s all linear;
    transform-origin: 0 50%;

}

.over {
    top: 150px;
    margin-left: calc(50% - 200px);
    text-align: center;
    transform-style: preserve-3d;
    transform-origin: 50px 50px;

    font-size: 40px;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotateX(-40deg);
}
.over {
    animation: anim 1s infinite linear alternate;
}



@keyframes anim {

    0% {
        transform: rotateX(-90deg);
    }
    100% {

        transform: rotateX(90deg);
    }

}