.item {

    cursor: pointer;
    position: relative;
    width: var(--width);
    padding: 0 5px 8px 5px;
    /*height: var(--height);*/
    background-color: #cc8a21;
}

.zoom_in {
    position: absolute;

}

.item_out {
    --width: 150px;
    --height: 63px;
    margin-left: calc(var(--width) / -4);
    margin-right: calc(var(--width) / -4);
    margin-bottom: calc(var(--height) + 120px);
    position: relative;
}
.item:before,
.item:after {
    left: 0;
    content: "";
    position: absolute;
    width: 0;
    border-left: calc(var(--width) / 2) solid transparent;
    border-right: calc(var(--width) / 2) solid transparent;
}

.item:before {
    bottom: 100%;
    border-bottom: 24px solid #cc8a21;
}

.item:after {
    z-index: 0;
    top: 100%;
    width: 0;
    border-top: 24px solid #cc8a21;
}

.item_text {
    width: calc(var(--width) - 30px);
    overflow-wrap: break-word;
    display: block;
    flex-wrap: wrap;
    text-wrap: normal;
    border-radius: 15px;
    line-height: 25px;
    color: white;
    font-size: 18px;
    background: rgba(40, 44, 52, 0.37);
    margin-left: 10px;
    margin-right: 10px;
    height: var(--height);
}



.box > .checked > .item {
    background: rgba(48, 30, 204, 0.49);
}
.box > .checked > .item:after {
    border-top-color: rgba(48, 30, 204, 0.49);
}
.box > .checked > .item:before {
    border-bottom-color: rgba(48, 30, 204, 0.49);
}

.item_inner {
    z-index: 1;
    top: 5px;
    margin-left: auto;
    margin-top: -23.5px;
    position: relative;
    width: calc(var(--width) - 10px);
    transition: ease-in .3s;
    /*height: calc(var(--height) - 7px);*/
    background-color: #cccc13;
}

.item_inner:before,
.item_inner:after {
    left: 0;
    content: "";
    position: absolute;
    width: 0;
    border-left: calc(var(--width) / 2 - 6px) solid transparent;
    border-right: calc(var(--width) / 2 - 6px) solid transparent;
}

.item_inner:before {
    transition: ease-in .3s;
    bottom: 100%;
    border-bottom: 20px solid #cccc13;
}

.item_inner:after {
    transition: ease-in .3s;
    width: 0;
    border-top: 20px solid #cccc13;
}



.item:hover .item_inner:before {
    border-bottom: 5px solid #cccc13;
}
.item:hover .item_inner:after {
    border-top: 5px solid #cccc13;
}