.box_farm .item_out {
    --width: 250px;
    --height: 200px;
}

.box_farm {
    --color: rgba(60, 63, 65, 0.94);
    --height: 200px;
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10px;
    padding: calc(1.2 * var(--height) + 100px) 70px 0px;
    background-color: var(--color);
    transition: height, width .5s ease-in;
}


.box_farm > * {
    flex: 1 1 200px;
    margin-top: 20px;
}




.box_farm .item_text {
    text-wrap: avoid;
    background-color: rgba(77, 154, 253, 0.66);
}


.box_farm > .item_out:nth-of-type(2n + 1) {
    top: calc(-1 * var(--height) - 70px);
}

.box_farm:before, .box_farm:after {
    z-index: 0;
    position: absolute;
    content: "";
    width: 300px;
    height: 30px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.box_farm:before {

    left: 10px;

    margin-top: calc(-1.2 * var(--height) - 130px);
    border-bottom: 30px solid var(--color);
}

.box_farm:after {
    right: -10px;
    top: calc(100%);
    margin-left: 0;
    border-top: 30px solid var(--color);
}

.menuBarUp > button, .menuBarDown > button {
    display: inline-grid;
}

.menuBarUp, .menuBarDown {
    color: #0a0a08;
    width: 180px;
    height: 25px;
    position: absolute;
    z-index: 1;
    display: inline-grid;
    grid-template-columns: 80px 30px 80px;
    grid-gap: 20px;
}

.menuBarDown {
    right: 60px;
    bottom: 5px;
}

.menuBarUp {
    left: 35px;
    top: 35px;
}

@media screen and (min-width: 1250px) {
    .box_farm {
        max-height: 870px;
    }
}
