.App {
  text-align: center;
  border-left: #7d7f7b solid 1px;
  border-right: #7d7f7b solid 1px;

  background: rgba(137, 141, 132, 0.22);
  z-index: 1;
  position: absolute;
  width: 96%;
  right: 2%;
  min-height: 100vh;
  padding: 5px 30px 50px 30px;
}


#root {
  min-width: 490px;
  background: #2b2b2b;
  margin-top: -21px;

}


.ball {
  --color: rgba(77, 170, 51, 0.62);
  position: absolute;
  color: #f3fff8;
  width: 75px;
  height: 43.30px;
  background-color: var(--color);
}

.ball:before,
.ball:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 38px solid transparent;
  border-right: 38px solid transparent;
}

.ball:before {
  bottom: 100%;
  border-bottom: 22px solid var(--color);
}

.ball:after {
  top: 100%;
  width: 0;
  left:0;
  border-top: 22px solid var(--color);
}
body {
  background-color: #2b2b2b;
  overflow-x: hidden;
}


.dark {

  background: #282828;

  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  /*background-attachment: fixed;*/
  perspective: 5px;
  background-size: cover;
}

@media screen and (min-width: 900px) {
  .App {
    margin: 150px 0 50px 250px;
    right: calc(2%);
    width: calc(98% - 250px);
  }
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.beauty-window {
  transform: translate3d(0,0,0);
  transform-style: preserve-3d;
  z-index: 1;
  top: 200px;
  right:20px;
  overflow: hidden;
  width: 500px;
  height: 200px;
  background: #000000;
  color: #000000;
}

.beauty-window > p {
  position: relative;
  z-index: 3;
}

.square {
  z-index: 2;
  transform: translateZ(-200px);
  top:100px;
  width: 400px;
  height: 50px;
  position: fixed;
  background: rgba(222, 222, 222, 0.48);
  mix-blend-mode: screen;
}


